.politani {
    background-image: url("../img/politani-samarinda.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999;
    filter: blur(10%);
}
